<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript">window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-149699646-1');</script>
    <link rel="shortcut icon" href="https://clone-of-stackoverflow.vercel.app/images/logo.svg">
    <meta name="viewport" content="width=device-width">
    <meta name="next-head-count" content="3">
    <link href="~/Content/Tags - Clone of Stackoverflow_files/576cf9eba8f9681b8514.css" rel="stylesheet" />
    <link href="~/Content/Tags - Clone of Stackoverflow_files/78edf145b07725bb03ad.css" rel="stylesheet" />
    <link href="~/Content/Tags - Clone of Stackoverflow_files/fc6bf4157f0ac905c49e.css" rel="stylesheet" />
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/78edf145b07725bb03ad.css" as="style">
    <link rel="stylesheet" href="~/Content/Questions - Clone of Stackoverflow_files/78edf145b07725bb03ad.css">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/fc6bf4157f0ac905c49e.css" as="style">
    <link rel="stylesheet" href="~/Content/Questions - Clone of Stackoverflow_files/fc6bf4157f0ac905c49e.css">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/_app.js.download" as="script">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/index.js.download" as="script">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/webpack-c212667a5f965e81e004.js.download"
          as="script">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/framework.619a4f70c1d4d3a29cbc.js.download"
          as="script">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/commons.ba00499b6a441586f8e1.js.download"
          as="script">
    <link rel="preload"
          href="~/Content/Questions - Clone of Stackoverflow_files/5a94fa958cefff042b462ce070c79dffa8407c55.10107c3ed7193104fea0.js.download"
          as="script">
    <link rel="preload"
          href="~/Content/Questions - Clone of Stackoverflow_files/e4bf3a9914627c23a205f4bb3a0ad09926697550.985cba9a3e59009bcf0e.js.download"
          as="script">
    <link rel="preload" href="~/Content/Questions - Clone of Stackoverflow_files/main-23c74620bea946409326.js.download"
          as="script">
    <link rel="preload"
          href="~/Content/Questions - Clone of Stackoverflow_files/e7a731ef807073bb2ec5c5231d11d2f0a8174ad5.6d1f13a791c5511761b7.js.download"
          as="script">
    <link rel="preload"
          href="~/Content/Questions - Clone of Stackoverflow_files/f6a1b93c5c260091f55218a0ac24612485918bd8.ca0aca952020a4e0c742.js.download"
          as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/tags.js.download" rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/users.js.download" rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/auth.js.download" rel="prefetch" as="script">
    <link href="~/ContentQuestions - Clone of Stackoverflow_files/576cf9eba8f9681b8514.css" rel="prefetch" as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/e7a731ef807073bb2ec5c5231d11d2f0a8174ad5.6d1f13a791c5511761b7.js.download"
          rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/de31814ed45e30c03f51.css" rel="prefetch" as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/67f90d8d65f80cffef58.css" rel="prefetch" as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/[slug].js.download" rel="prefetch" as="script">
    <link href="https://clone-of-stackoverflow.vercel.app/_next/static/WSw4O2AsL5QOdNa3m1eA6/pages/users/%5Buser%5D.js"
          rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/8cbf83591a16d2f9d643.css" rel="prefetch" as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/8cbf83591a16d2f9d643.css" rel="stylesheet">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/67f90d8d65f80cffef58.css" rel="stylesheet">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/576cf9eba8f9681b8514.css" rel="stylesheet">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/de31814ed45e30c03f51.css" rel="stylesheet">
    <link href="https://clone-of-stackoverflow.vercel.app/_next/static/WSw4O2AsL5QOdNa3m1eA6/pages/users/%5Busername%5D.js"
          rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/f6a1b93c5c260091f55218a0ac24612485918bd8.ca0aca952020a4e0c742.js.download"
          rel="prefetch" as="script">
    <link href="https://clone-of-stackoverflow.vercel.app/_next/static/css/0273d1b49b0e4927c431.css" rel="prefetch"
          as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/ask.js.download" rel="prefetch" as="script">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/48321e250c84c85e8282.css" rel="prefetch" as="style">
    <link href="~/Content/Questions - Clone of Stackoverflow_files/48321e250c84c85e8282.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Q&A Forum", "AllQuestions", "Questions", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "AllQuestions", "Questions")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
